body{
color: #494949;
font-size: 18px;
line-height: 1.6;
font-weight: lighter;
font-family: 'Roboto', sans-serif;
}



a{
  text-decoration: none;
}

.banner{
  background-image: url("https://source.unsplash.com/random");
  background-size: cover;
  color: white;
  padding: 120px 0;
}

.container{
  text-align: center;
  width: 700px;
  margin: 50px auto;
}

.link-medium{
    background-image: linear-gradient(to bottom, rgba(233, 253, 240, 1), rgba(233, 253, 240, 1));
    color: #636363;
    font-weight: lighter;
    font-size: 25px;
    font-style: italic;
}
.link-medium:hover{
  color: red;
}
